@{
    ViewBag.Title = "How to change themes on-the-fly ";
}
<h2>@ViewBag.Message</h2>
@using (Html.BeginForm("PostTheme", "Home", FormMethod.Post, new { style = "background-color: #EEE; border: 1px solid black; width: 450px; padding: 4px;" })) {
    <strong>Choose a Theme: </strong>
    <div>
        @Html.DevExpress().RadioButtonList(
            settings => {
                settings.Name = "Theme";
                settings.Properties.ValueType = typeof(CommonThemes);
                settings.Properties.Items.Add("Aqua", CommonThemes.Aqua);
                settings.Properties.Items.Add("DevEx", CommonThemes.DevEx);
                settings.Properties.Items.Add("SoftOrange", CommonThemes.SoftOrange);
                settings.Properties.Items.Add("Youthful", CommonThemes.Youthful);
                settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

                settings.Properties.ClientSideEvents.SelectedIndexChanged = "function (s,e) {ASPxClientUtils.SetCookie('theme', s.GetValue());}";
            }).Bind(Model.Theme).GetHtml()
    </div>
    <div>
        @Html.DevExpress().Button(
            btnSettings => {
                btnSettings.Name = "btn";
                btnSettings.Text = "Change Theme";
                btnSettings.UseSubmitBehavior = true;
            }).GetHtml()
    </div>
    <div>
        @Html.Partial("CalendarPartial")
    </div>
    
}